* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aliceblue;;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  width: 50%;
  height: 66%;
  overflow-x: auto;
  border-radius: 12px;
}

.language {
  color: white;
  background-color: #1f4287;
  padding: 12px 16px;
  border-radius: 5px 5px 0 0;
  text-align: right;
}

.code-wrapper {
  position: relative;
}

.code-wrapper pre {
  background-color: #071e3d;
  color: white;
  padding: 8px 20px;
  border-radius: 0 0 5px 5px;
}

#copy-button {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 7px;
  background-color: #2d2d2d;
  outline: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in;
  opacity: 0;
  border: 1px solid antiquewhite;
}

#copy-button.show-msg{
    display: none;
}

#copy-button:hover {
  background-color: #423e3e;
}

.code-wrapper:hover #copy-button {
  opacity: 1;
}


