{% extends 'base.html' %}

{% block head %}
<title>La Press</title>
{% endblock %}

{% block body %}
  
<!-- Services One Comment Section -->
<div class="lapress" id="lapress">
    <h1>La Press Analysis</h1>
	<form class="lapress__container" action="{{ url_for('lapress')}}" method="POST">
		<input id="linkInput" name="linkInput" spellcheck="false" placeholder="Enter the link here ..." required></input>
		<button type="submit">Get Started</button>
	</form>
</div>
    <!-- CONTENT -->
	<section id="content" {% if form_submitted %}style="display: flex;"{% endif %}>
		<!-- MAIN -->
		<main>
		{% if comments|length > 0 %}
			<ul class="box-info">
				<li>
					<i class='bx bxs-check-circle' ></i>
					<span class="text">
						<h3>1020</h3>
						<p>Positive</p>
					</span>
				</li>
				<li>
					<i class='bx bxs-x-circle' ></i>
					<span class="text">
						<h3>2834</h3>
						<p>Negative</p>
					</span>
				</li>
				<li>
					<i class='bx bxs-chart' ></i>
					<span class="text">
						<h3>$2543</h3>
						<p>Chart</p>
					</span>
				</li>
			</ul>
			<div class="table-data">
				<div class="order">
					<div class="head">
						<h3>Article : {{title}}</h3>
					</div>
					<table>
						<thead>
							<tr>
								<th>Comment</th>
								<th>Sentiment</th>
							</tr>
						</thead>
						<tbody>
							{% for comment in comments %}
							<tr>
								<td>
									<p>{{comment}}</p>
								</td>
								
								<td><span class="status positive">Positive</span></td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
		{% else %}
			{% if error_message %}
				<div class="table-data">
					<div class="order">
						<div class="head">
							<h3>{{error_message}}</h3>
						</div>
					</div>
				</div>
			{% else %}
				<div class="table-data">
					<div class="order">
						<div class="head">
							<h3>There are no comments for this article</h3>
						</div>
					</div>
				</div>
			{% endif %}
		{% endif %}
				</div>
			</div>
		</main>
	</section>

  
{% endblock %}